<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="whistl'er news reader">
    <meta name="author" content="Frederik Dietz">

    <title>whistl'er news reader (INDEX.HTML)</title>

    <link rel="manifest" href="<%= require('./app_manifest') %>">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
