{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "strict": 0, // required by `babel-eslint`
    "comma-dangle": 0,
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
