.white  { color: $white; }
.black  { color: $black; }
.gray   { color: $gray; }
.gray-2 { color: $gray-2; }
.blue   { color: $blue; }
.blue-2 { color: $blue-2; }
.blue-4 { color: $blue-4; }
.red    { color: $red; }
.orange { color: $orange; }
.green  { color: $green; }
.yellow { color: $yellow; }

.bg-white  { background-color: $white; }
.bg-black  { background-color: $black; }
.bg-gray   { background-color: $gray; }
.bg-gray-2 { background-color: $gray-2; }
.bg-blue   { background-color: $blue; }
.bg-blue-2 { background-color: $blue-2; }
.bg-blue-4 { background-color: $blue-4; }
.bg-red    { background-color: $red; }
.bg-orange { background-color: $orange; }
.bg-green  { background-color: $green; }
.bg-yellow { background-color: $yellow; }
