$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: .5rem;
$form-field-padding-x: .5rem;

$form-label-font-size-prominent: 1.6rem;
$form-field-font-size-prominent: 1.2rem;
$form-field-height-prominent: 2.9rem;

input,
select,
textarea,
fieldset {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family;
  font-size: $form-field-font-size;
  font-weight: normal;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  vertical-align: middle;
}

input {
  // height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
  // -webkit-appearance: none;
}

select {
  padding: $form-field-padding-y $form-field-padding-x;
  line-height: 1.75;
}

select:not([multiple]) {
  // height: $form-field-height;
  vertical-align: middle;
}

textarea {
  padding: $form-field-padding-y $form-field-padding-x;
  line-height: 1.75;
}

input[type=checkbox],
input[type=radio] {
  margin: 0 .25rem;
}

.field {
  width: 100%;
  height: $form-field-height;
}

.field-label {
  display: block;
  margin-bottom: $space-2;

  input {
    margin-top: .2rem;
  }

  .field-errors {
    margin-bottom: -$space-1;
  }
}

.form-prominent {

  .field {
    height: $form-field-height-prominent;
    font-size: $form-field-font-size-prominent;
  }

  label + .field {
    margin-top: .25em;
  }

  .hint {
    margin-top: .25em;
    font-size: .8rem;
  }

  h1 {
    margin: 0 0 2rem 0;
  }
}

.dropdown-field {
  // width: auto;
  margin: 0;
}

.dropdown-label {
  // display: block;
  font-weight: normal;
}

.field-errors {
  padding: 0 $space-1;
  font-size: .9rem;
}
