.detail-header {
  display: flex;
  min-height: 65px;
  padding-right: $space-3;
  padding-left: $space-3;
  background-color: $white-2;
  border-bottom: 1px solid #F1F3F7;
  border-left: 1px solid #E6EBF0;
  justify-content: flex-start;
  align-items: center;

  .left {
    flex: 1;
  }

  .right {
    display: flex;
    text-align: right;
    align-items: center;
  }
}
