.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -1px;
  z-index: 10;

  display: block;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 2px 2px 2px 0 $darken-2;


  &.hidden {
    display: none;
  }
}

.dropdown__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown__list-item {
  display: flex;
  width: 100%;
  padding: .2em $space-2;
  font-size: .8rem;
  line-height: 1rem;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;

  &:hover {
    background-color: $darken-1;
  }

  .media {
    width: 1rem;
    margin-right: $space-1;
    margin-left: 0;
    cursor: inherit;
  }

  .content {
    cursor: inherit;
    flex: 1 1;
  }
}

.dropdown__list-separator {
  height: 1px;
  margin: .2rem;
  background-color: $darken-1;
}
