.dropdown {
  position: relative;

  &.east {
    .dropdown__content {
      left: 0;
    }
  }

  &.west {
    .dropdown__content {
      right: 0;
    }
  }

  &.north {
    .dropdown__content {
      top: -100%;
    }

    .arrow-up {
      display: flex;
    }

    .arrow-down {
      display: none;
    }

    .dropdown__trigger.active {
      .arrow-up {
        display: none;
      }

      .arrow-down {
        display: flex;
      }
    }
  }
}

.dropdown__trigger {
  display: flex;
  align-items: center;

  .arrow-up {
    display: none;
  }

  &.active {
    .arrow-up {
      display: flex;
    }

    .arrow-down {
      display: none;
    }
  }
}

.dropdown__content {
  position: absolute;
  top: 100%;
  // left: 0;
  z-index: 10;
  display: block;
  margin-top: -1px;

  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 2px 2px 2px 0 $darken-2;

  opacity: 1;
  transform: scale(1, 1);
  transform-origin: top;
  transition: transform ease-out .2s, opacity ease-out .2s;

  &.hidden {
    opacity: 0;
    transform: scale(1, 0);
  }
}

.dropdown__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown__list-item {
  display: flex;
  padding: .4em $space-2;
  font-size: .8rem;
  line-height: 1rem;
  color: $gray;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;

  &:hover,
  &.active {
    background-color: rgba(0, 0, 0, .05);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .4;
  }

  &.prominent {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .media {
    width: 1rem;
    margin-right: $space-1;
    margin-left: 0;
    cursor: inherit;
  }

  .content {
    cursor: inherit;
    flex: 1 1;
  }

  a {
    display: flex;
    color: $gray;

    svg {
      margin-right: $space-1;
    }
  }
}

.dropdown__list-separator {
  height: 1px;
  margin: .2rem;
  background-color: $darken-1;
}
