.entry-embed-site-modal {
  display: flex;
  overflow-y: none;
  flex-direction: column;

}

.entry-embed-site-modal-header {
  display: flex;
  height: 65px;
  padding: 0 25px;
  background-color: $gray-2;
  border-bottom: 1px solid $darken-1;
  align-items: center;

  .centered {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  h2,
  h6 {
    margin: 0 $space-1;
    overflow: hidden;
    color: $black-3;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modal-close-link {
    margin-right: auto;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }
  }

  .loading-indicator {
    margin-left: auto;
    margin-right: $space-1;
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
}

.entry-embed-site-modal-content {
  height: calc(100% - 65px);
  overflow: hidden;
}

.entry-embed-site {
  width: 100%;
  height: 100%;
  border: 0;
}
