.entry-content-overlay {
  display: flex;
  overflow-y: none;
  flex-direction: column;
}

.entry-content-overlay-header {
  display: flex;
  height: 65px;
  padding: 0 $space-2;
  background-color: $gray-2;
  border-bottom: 1px solid $darken-1;
  box-sizing: border-box;
  align-items: center;

  .actions {
    display: flex;
  }

  // .centered {
  //   display: flex;
  //   flex: 1 1;
  //   flex-direction: column;
  // }
  //
  // h2,
  // h6 {
  //   margin: 0 $space-1;
  //   overflow: hidden;
  //   color: $black-3;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  // }

  .modal-close-link {
    margin-left: auto;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }
  }

  // .loading-indicator {
  //   margin-left: auto;
  //   margin-right: $space-1;
  //   opacity: 1;
  //   transition: opacity .5s ease-in-out;
  // }
}

.entry-content-overlay-content {
  // height: 100%;
  // margin-top: $space-3;
  // height: calc(100% - 65px);
  flex: 1 1;
  overflow: auto;
}

.entry-embed-site {
  width: 100%;
  height: 100%;
  border: 0;
}
