$entry-list-color: $black-3;
$entry-list-bg-color: #FFF;
$entry-list-hover-bg-color: $white;
$entry-list-secondary-color: $gray-3;

.entry-list {
  position: relative;

  &.compact {
    .item {
      padding: $space-1 $space-2;
    }

    .entry-summary {
      display: none;
    }

    .entry-title {
      margin-bottom: 0;
    }
  }
}

.entry-list__item {
  display: flex;
  padding: $space-2;
  color: $entry-list-color;
  cursor: pointer;
  background-color: $entry-list-bg-color;
  border-bottom: 1px solid $darken-1;

  &.selected {
    background-color: $gray-2;
  }

  &:hover {
    background-color: $entry-list-hover-bg-color;
  }

  &.unread {
    .item-row .circle {
      display: inline-block;
    }
  }
}

.item.no-more-content {
  text-align: center;
  flex-direction: column;

  .smile {
    font-size: 2rem;
  }
}

.item-row {
  display: flex;
  overflow: hidden;
  font-size: .9rem;
  flex: 1;
  flex-direction: column;

  .meta {
    display: flex;
    font-size: .7rem;
    color: $darken-4;
    align-items: center;

    .feed-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }

    .circle {
      display: none;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background-color: $orange;
      border-radius: 50%;
      transition: all 1s ease-out;
    }

    .published {
      margin-left: auto;
      text-align: right;
    }

  }

  .entry-title {
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.2rem;
    flex: 1;
  }

  .entry-summary {
    max-height: 1.8rem;
    overflow: hidden;
    font-size: .8rem;
    line-height: .9rem;
    color: $entry-list-secondary-color;
    word-break: break-word;
  }

}
