$entry-grid-color: $black-3;
$entry-grid-bg-color: #FFF;
$entry-grid-hover-bg-color: $white;
$entry-grid-secondary-color: $gray-3;

.entry-grid {
  display: flex;
  padding: $space-2;
  box-sizing: border-box;
  flex-flow: wrap;
  justify-content: flex-start;
}

.entry-grid__item {
  display: flex;
  padding: $space-1;
  margin: 0 $space-1 $space-1 0;
  color: $entry-grid-color;
  cursor: pointer;
  background-color: $entry-grid-bg-color;
  border: 1px solid $gray-4;
  border-radius: $border-radius;
  flex: 0 0 24%;
  flex-direction: column;

  &.selected {
    background-color: $gray-2;
  }

  &:hover {
    background-color: $entry-grid-hover-bg-color;
  }

  &.unread {
    .circle {
      display: inline-block;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 0 $space-1;
    flex: 1 1;
  }

  .caption {
    margin-top: $space-1;

    .entry-title {
      max-height: 2.6rem;
      overflow: hidden;
      font-size: .9rem;
      flex: 1;
    }

    .meta {
      display: flex;
      font-size: .8rem;
      color: $entry-grid-secondary-color;
      align-items: center;

      .feed-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }

      .circle {
        display: none;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        background-color: $orange;
        border-radius: 50%;
        transition: all 1s ease-out;
      }

      .published {
        margin-left: auto;
        font-size: .7rem;
        text-align: right;
      }
    }
  }
}
