.feed-entry-content {
  max-width: 640px;
  padding: $space-3;
  margin-right: auto;
  margin-left: auto;
  color: $black-3;

  &.hidden {
    display: none;
  }

  &.article {

  }

  &.website {
    max-width: 100%;
    height: calc(100vh - 71px);
    margin: 0;
    padding: 0;
  }

  @include respond-to(small-screen) {
    padding: $space-2;
  }
}

.feed-entry-content__header {
  margin-bottom: .5rem;

  .title {
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

.feed-entry-content__subheader {
  margin-bottom: 1.5rem;

  font-size: .8rem;
  color: $entry-list-secondary-color;
}

.feed-entry-content__content {
  font-family: $font-family-serif;
  font-size: .85rem;
  font-weight: 300;
  line-height: 1.45rem;
  letter-spacing: .01rem;
  text-rendering: optimizeLegibility;
  white-space: normal;

  @include respond-to(small-screen) {
    font-weight: 400;
  }

  p {
    margin-top: 0;
    margin-bottom: $space-2;

    img {
      display: block;
      margin: $space-3 auto;
      border-radius: $border-radius;
    }
  }

  strong {
    font-weight: 400;
  }

  hr {
    margin: $space-3;
    border: 1px solid $darken-1;
  }

  figure {
    margin: 0 0 $space-2;
  }

  img {
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: $space-2;
    border-radius: $border-radius;
  }

  img + caption,
  img + .caption {
    margin-top: -$space-2;
  }

  blockquote,
  q {
    display: block;
    padding: $space-2;
    margin: $space-2;

    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";

    p {
      display: inline;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      font-size: 3em;
      line-height: .1em;
      color: $darken-2;

      vertical-align: -.4em;
    }

    &:before {
      margin-right: .3em;
      content: open-quote;
    }

    &:after {
      margin-left: .1em;
      content: close-quote;
    }
  }

  // hide ugly feedburner feed links
  .feedflare {
    display: none;
  }
}
