$item-list-bg-color: #fff;
$item-list-hover-bg-color: #b2d4dc;
$item-list-primary-title-fg-color: #111;
$item-list-secondary-title-fg-color: #6d6d6d;

$item-list-border-color: #edecf2;
$item-list-shadow-color: #dedde3;

$item-list-hr-color: #f2f2f2;

$item-list-expanded-bg-color: #ffffcf;

.item-list {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    pointer-events: none;
    content: '';
    // box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  }
}

.item {
  background-color: $item-list-bg-color;
  border-bottom: 1px solid $item-list-border-color;
  will-change: transform,-webkit-transform;

  .item-row {
    display: flex;
    padding: 8px 12px;

    font-size: .9rem;

    cursor: pointer;

    align-items: center;
    justify-content: flex-start;

    &.expanded {
      background-color: $item-list-expanded-bg-color;
    }

    .primary-title {
      width: 120px;
      margin-right: 12px;

      overflow-x: hidden;

      color: $item-list-secondary-title-fg-color;

      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .divider {
      width: 5px;
      margin-right: 6px;
      margin-left: 6px;
    }

    .secondary-title {
      overflow-x: hidden;
      font-weight: bold;
      color: $item-list-primary-title-fg-color;

      text-overflow: ellipsis;
      white-space: nowrap;

      flex: 1;
    }

    .secondary-summary {

    }

    .secondary-published {
      width: 140px;
      text-align: right;
    }

  }
}

.item-content {
  overflow: hidden;

  font-family: 'Merriweather', serif;
  letter-spacing: .01rem;
  text-rendering: optimizeLegibility;
  white-space: normal;

  transition: all 300ms;

  .divider {
    padding-top: 6px;
    border-top: 2px solid $item-list-border-color;
  }

  .header {
    max-width: 640px;
    padding: 0 12px;

    margin-top: 1.5rem;
    margin-right: auto;
    margin-bottom: .5rem;
    margin-left: auto;

    .title {
      margin: 0;
      a {
        text-decoration: none;
      }
    }
  }

  .subheader {
    max-width: 640px;
    padding: 0 12px;

    margin-top: .5rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;

    font-size: .8rem;
    color: $item-list-secondary-title-fg-color;
  }

  .content {
    max-width: 640px;
    padding: 0 12px;
    margin-right: auto;
    margin-left: auto;

    p {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: .9rem;
      line-height: 1.6rem;
    }

    hr {
      margin-top: 0;
      margin-bottom: 1.5rem;
      border: 1px solid $item-list-hr-color;
    }

    img {
      width: 640px;
      max-width: 640px;
      margin-top: 0;
      margin-bottom: 2.5rem;
      border: 1px solid $item-list-border-color;
      border-radius: 4px;
    }
  }

  &.hidden {
    display: none;
  }
}
