$item-list-color: $black-2;
$item-list-bg-color: $white;
$item-list-hover-bg-color: $darken-1;
$item-list-secondary-color: $gray-3;

.item-list {
  position: relative;
}

.item {
  display: flex;
  padding: $space-2;
  color: $item-list-color;
  cursor: pointer;
  background-color: $item-list-bg-color;
  border-bottom: 1px solid $darken-1;

  &.selected {
    background-color: $darken-1;
  }

  &:hover {
    background-color: $darken-1;
  }

}

.item-row {
  display: flex;
  max-height: 6.5rem;
  overflow: hidden;
  font-size: .9rem;
  flex: 1;
  flex-direction: column;


  .meta {
    display: flex;

    .primary-title {
      color: $item-list-secondary-color;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }

    .secondary-published {
      width: 40px;
      margin-left: auto;
      font-size: .7rem;
      color: $item-list-secondary-color;
      text-align: right;
    }

  }

  .secondary-title {
    // font-weight: bold;
    font-weight: 600;
    flex: 1;
  }

  .secondary-summary {
    color: $item-list-secondary-color;
  }

}
