.item-content {
  padding: $space-3;
  font-family: $font-family-serif;
  letter-spacing: .01rem;
  text-rendering: optimizeLegibility;
  white-space: normal;

  // background-color: $item-list-bg-color;
  background-color: #FFF;

  border-left: 1px solid $darken-3;

  .header {
    margin-bottom: .5rem;

    .title {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .subheader {
    margin-bottom: 1.5rem;

    font-size: .8rem;
    color: $item-list-secondary-color;
  }

  .item-content-content {

    p {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: .9rem;
      line-height: 1.6rem;
    }

    hr {
      margin-top: 0;
      margin-bottom: 1.5rem;
      border: 1px solid $darken-3;
    }

    img {
      height: auto;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 2.5rem;
      border: 1px solid $darken-3;
      border-radius: 4px;
    }
  }

  &.hidden {
    display: none;
  }
}
