.item-content {
  max-width: 640px;
  padding: $space-3;
  margin-right: auto;
  margin-left: auto;
  color: $black-3;

  .header {
    margin-bottom: .5rem;

    .title {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .subheader {
    margin-bottom: 1.5rem;

    font-size: .8rem;
    color: $item-list-secondary-color;
  }

  .item-content-content {
    font-family: $font-family-serif;
    letter-spacing: .01rem;
    text-rendering: optimizeLegibility;
    white-space: normal;

    p {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 1.6rem;
    }

    hr {
      margin-top: 0;
      margin-bottom: 1.5rem;
      border: 1px solid $darken-3;
    }

    img {
      height: auto;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 2.5rem;
      // border: 1px solid $darken-3;
      border-radius: 4px;
    }
  }

  &.hidden {
    display: none;
  }
}
