$item-list-bg-color: #fff;
$item-list-hover-bg-color: #b2d4dc;
$item-list-primary-title-fg-color: #111;
$item-list-secondary-title-fg-color: #6d6d6d;

$item-list-border-color: #F1F3F7;

$item-list-hr-color: #f2f2f2;

$item-list-expanded-bg-color: #ffffcf;

$item-list-color: #474C55;
$item-list-secondary-color: #888A8F;

.item-list {
  position: relative;
}

.item {
  display: flex;
  padding: 20px;
  color: $item-list-color;
  cursor: pointer;
  background-color: $item-list-bg-color;
  border-bottom: 1px solid $item-list-border-color;

  &.selected {
    background-color: #F0F3F7;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.01);
  }

  .item-row {
    display: flex;
    font-size: .9rem;
    flex: 1;
    flex-direction: column;

    .meta {
      display: flex;

      .primary-title {
        flex: 1;
      }

      .secondary-published {
        width: 140px;
        font-size: .7rem;
        color: $item-list-secondary-color;
        text-align: right;
      }

    }

    .secondary-title {
      overflow-x: hidden;
      // font-weight: bold;
      color: $item-list-secondary-color;

      text-overflow: ellipsis;

      flex: 1;
    }

    .secondary-summary {

    }

  }
}
