.main-header {
  display: flex;
  min-height: 65px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #F1F3F7;
  justify-content: flex-start;
  align-items: center;

  .left {
    flex: 1;
  }

  .right {
    display: flex;
    text-align: right;
    align-items: center;
  }
}
