.modal-right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;

  border-left: 4px solid rgba(0, 0, 0, .1);
}

.modal-header,
.modal-footer {
  display: flex;
  height: 65px;
  padding: 0 25px;
  background-color: $gray-2;
  align-items: center;
}

.modal-header {
  border-bottom: 2px solid $darken-2;

  h2 {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modal-close-link {
    margin-left: auto;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }
  }
}

.modal-footer {
  justify-content: flex-end;
}

.modal-content {
  min-width: 320px;
  min-height: 100px;

  padding: 25px;

  overflow-y: auto;
  flex: 1 1;
  -webkit-overflow-scrolling: touch;
}
