.modal-header,
.modal-footer {
  display: flex;
  height: $default-height;
  padding: 0 $space-2;
  align-items: center;
  justify-content: flex-start;
}

.modal-header {
  background-color: $red;
  border-bottom: 1px solid $darken-1;

  .logo {
    font-size: 2rem;
    color: $white;
  }

  .modal-close-link {
    display: flex;
    margin-left: auto;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }
  }
}

.modal-footer {
  justify-content: flex-end;
}

.modal-content {
  display: flex;
  padding: 4rem;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;

  -webkit-overflow-scrolling: touch;

  flex: 1 1;

  h1 {
    font-size: 1.9rem;
    text-transform: uppercase;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  z-index: 10;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.ReactModal__Content {
  opacity: 0;
  transition: opacity 50ms ease-in;
  z-index: 11;
}

.ReactModal__Content--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
}
