.notification {
  position: fixed;
  top: $space-2;
  right: 0;
  left: 50%;

  z-index: 10;

  width: 300px;

  padding: $space-1;
  margin-left: -150px;

  color: $black-3;
  text-align: center;

  border: 1px solid $darken-1;
  border-radius: $border-radius;

  box-shadow: 1px 1px 5px 0 $darken-2;
  transition: opacity .5s ease-in-out;

  &.info {
    background-color: $yellow;
  }

  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $green;
  }
}
