$sidebar-bg: $blue-2;
$sidebar-color: $gray;

.sidebar {
  display: flex;
  background-color: $sidebar-bg;
  flex-direction: column;

  .sidebar-content {
    padding: $space-2;
    overflow-y: auto;
    flex: 1 1;
  }
}

.sidebar-header,
.sidebar-footer {
  display: flex;
  height: 65px;
  padding: 0 $space-2;

  box-sizing: border-box;

  align-items: center;
  flex-direction: row;
}

.sidebar-header {
  background-color: $red;
  border-bottom: 1px solid $darken-1;

  .logo {
    font-size: 2rem;
    color: #fff;
  }
}

.sidebar-footer {
  display: flex;
  background-color: $darken-2;
  border-top: 1px solid $darken-1;
  align-items: center;

  .avator {
    display: flex;
  }

  .meta {
    display: flex;
    padding: $space-1;
    flex-direction: column;

    .author {
      color: $sidebar-color;
    }
  }
}

.sidebar-nav-header {
  position: relative;
  margin: 0;
  margin-bottom: $space-1;
  font-size: .9rem;
  color: #fff;
  text-transform: uppercase;

  .action {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 20px;
    padding: 0;
    margin-top: -25px;
    margin-left: auto;
    font-size: 2rem;
    color: $sidebar-color;
    outline: none;

    &:hover {
      color: lighten($sidebar-color, 10%);
    }
  }
}

.sidebar-nav-list {
  display: flex;
  padding: 0;
  margin: 0 0 $space-3;

  flex-direction: column;
}

.sidebar-nav-list__item {
  display: flex;
  padding: 3px $space-2;
  margin: 0 -1rem;
  list-style: none;
  align-items: center;
  flex: 1 1;

  &:hover {
    background-color: $darken-3;

    .removable {
      display: block;
    }

    .badge {
      display: none;
    }
  }

  a {
    position: relative;
    width: 80%;

    padding: 0 $space-2;
    margin-right: -$space-2;
    margin-left: -$space-2;

    overflow: hidden;
    font-size: .9rem;
    color: $sidebar-color;
    text-decoration: none;

    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      color: #fff;
    }
  }

  .removable {
    display: none;
    width: 30px;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
  }

  .badge {
    display: block;
    width: 20px;
    margin-right: 0;
    margin-left: auto;
    color: $sidebar-color;
  }

}

.sidebar-actions {
  display: flex;
  padding: 1rem;
  align-items: center;
}
