$sidebar-bg: $blue-2;
$sidebar-color: $gray;

.sidebar {
  display: flex;
  background-color: $sidebar-bg;
  flex-direction: column;
}

.sidebar-content {
  padding: $space-2;
  overflow-y: auto;
  flex: 1 1;
}

.sidebar-header,
.sidebar-footer {
  display: flex;
  height: 65px;
  padding: 0 $space-2;

  box-sizing: border-box;

  align-items: center;
  flex-direction: row;
}

.sidebar-header {
  background-color: $red;
  border-bottom: 1px solid $darken-1;
  justify-content: center;

  .logo {
    font-size: 2rem;
    color: #fff;
  }

  .subtitle {
    margin-bottom: $space-2;
    overflow: hidden;
    font-size: .8rem;
    color: $white;
    white-space: nowrap;
    align-self: flex-end;
  }
}

.sidebar-footer {
  position: relative;
  display: flex;
  background-color: $darken-2;
  border-top: 1px solid $darken-1;
  border-bottom: 1px solid transparent;
  align-items: center;
}

.sidebar-nav-header {
  position: relative;
  margin: 0;
  margin-bottom: $space-1;
  font-size: .9rem;
  color: #fff;
  text-transform: uppercase;
}

.sidebar-nav-list {
  display: flex;
  padding: 0;
  margin: 0 0 $space-1;

  flex-direction: column;

  &.nested {
    margin: 0;
  }
}

.sidebar-nav-list__item {
  display: flex;
  flex-direction: column;

  &.active {

    > .sidebar-nav-list__meta {
      background-color: $blue;
    }

    > .sidebar-nav-list__meta > .sidebar-nav-list__badge {
      color: $white !important;
    }
  }
}

.sidebar-nav-list__item {
  .icon-placeholder {
    width: 16px;
    height: 16px;
  }
}

.sidebar-nav-list__name {
  position: relative;
  width: 75%;
  padding: 3px 0;
  margin-left: $space-1;

  overflow: hidden;
  font-size: .9rem;
  color: $sidebar-color;
  text-decoration: none;

  text-overflow: ellipsis;
  white-space: nowrap;

  &.active {
    color: #fff;
  }

  &.action {
    width: auto;
    border-bottom: 1px dotted $sidebar-color;
  }
}

.sidebar-nav-list__badge {
  display: block;
  width: 20px;
  margin-right: 0;
  margin-left: auto;
  color: $sidebar-color !important;
  font-size: .6rem !important;
}

.sidebar-nav-list__meta {
  display: flex;
  width: 100%;

  padding: 0 $space-2;
  margin-right: -$space-2;
  margin-left: -$space-2;

  align-items: center;

  &:hover {
    background-color: $darken-3;
  }
}

.sidebar-nav-list__expand-toggle {
  display: flex;
}

.sidebar-actions {
  display: flex;
  margin-bottom: $space-2;
  align-items: center;
}
