// $sidebar-bg: rgb(45, 62, 80);
$sidebar-bg: #27323F;
$sidebar-color: #617285;

.sidebar {
  display: flex;
  background-color: $sidebar-bg;
  color: $sidebar-color;
  flex-direction: column;

  .sidebar-content {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    flex: 1 1;
  }

}

.sidebar-header {
  height: 65px;
  background-color: #F25653;
  display: flex;
  align-items: center;

  .logo {
    // padding-top: 10px;
    padding-left: 30px;
    font-size: 2rem;
    color: #fff;
  }
}

.sidebar-nav-header {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 8px;
  font-size: .9rem;
  color: #fff;
  // color: #555;
  text-transform: uppercase;
}

.sidebar-nav-list {
  padding-left: 0;
  margin: 0 0 30px;

  > li {
    position: relative;
    list-style: none;

    a {
      position: relative;
      display: block;
      padding-top: 3px;
      padding-right: 20px;
      padding-bottom: 3px;
      padding-left: 20px;

      font-size: 1rem;
      // color: #777;
      color: $sidebar-color;
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }

      .badge {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
      }
    }

    &.active {
      background-color: rgba(0, 0, 0, .1);

      a {
        color: #fff;
        // color: #111;
      }

    }
  }
}
