.teaser {
  display: flex;
  height: 80%;
  padding: 2rem;
  color: $gray;
  text-align: center;
  opacity: .5;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 1.2rem;
  }
}
