$entry-list-color: $black-3;
$entry-list-bg-color: #FFF;
$entry-list-hover-bg-color: $white;
$entry-list-secondary-color: $gray-3;

.entry-list {
  position: relative;

  &.compact {

    .entry-list__item {
      padding: $space-1 $space-2;

      .entry-title {
        overflow: hidden;
        font-size: .8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .entry-summary {
        display: none;
      }
    }

  }
}

.entry-list__item {
  display: flex;
  padding: $default-padding;
  font-size: .9rem;
  color: $entry-list-color;
  cursor: pointer;
  background-color: $entry-list-bg-color;
  border-bottom: 1px solid $darken-1;
  opacity: .7;
  transition: opacity 500ms ease-out;

  &.selected {
    background-color: $gray-2;
  }

  &:hover {
    background-color: $entry-list-hover-bg-color;
  }

  &.unread {
    opacity: 1;

    .entry-title {
      font-weight: 600;
    }

    .meta .circle {
      display: inline-block;
    }
  }

  .entry-media {
    padding-right: $space-2;

    .background-image {
      width: 4rem;
      height: 100%;
      background-size: cover;
      border-radius: 4px;

      background-color: $gray-2;
    }

  }

  .entry-content {
    display: flex;
    flex-direction: column;
  }

  .entry-title {
    font-size: .9rem;
    overflow: hidden;
    // max-height: 2.4rem;
    height: 2.4rem;
    line-height: 1.2rem;
    flex: 1;
  }

  .entry-summary {
    display: none;
    // max-height: 2rem;
    height: 1rem;
    // margin-top: .2rem;
    overflow: hidden;
    font-size: .8rem;
    line-height: 1rem;
    color: $entry-list-secondary-color;
    word-break: break-word;
  }

  .meta {
    display: flex;
    font-size: .7rem;
    color: $darken-4;
    align-items: center;

    .feed-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }

    .circle {
      display: none;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background-color: $orange;
      border-radius: 50%;
      transition: all 1s ease-out;
    }

    .published {
      margin-left: auto;
      text-align: right;
      white-space: nowrap;
    }
  }
}

.entry-list__item.no-more-content {
  text-align: center;
  flex-direction: column;

  .smile {
    font-size: 2rem;
  }
}
