body {
  // font-family: 'Roboto Slab', sans-serif;
  // font-family: "Fira Sans", sans-serif;
  font-family: "Lato", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #F0F3F7;
}

a {
  color: $link-color;
}

::-webkit-scrollbar-track {
  background-color: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar {
  // background: transparent;
  overflow: visible;
  width: 17px;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

// ::-webkit-scrollbar-thumb:horizontal {
//   border-width: 4px 6px;
//   min-width: 40px;
// }
//
// ::-webkit-scrollbar-thumb:vertical {
//   border-width: 6px 4px;
//   min-height: 40px;
// }

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  // -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
