body {
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
}

.layout-master {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;

  &.with-sidebar {
    margin-left: 250px;
  }
}

.layout-master-split {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;

  .layout-master-pane {
    display: flex;
    width: 50vw;
    height: 100%;
    background-color: $gray-2;
    flex-direction: column;

    &.layout-master-pane-size-30 { width: 30vw; }
    &.layout-master-pane-size-40 { width: 40vw; }
    &.layout-master-pane-size-50 { width: 50vw; }
    &.layout-master-pane-size-60 { width: 60vw; }
    &.layout-master-pane-size-70 { width: 70vw; }
  }

  .layout-master-pane + .layout-master-pane {
    border-left: 1px solid $darken-1;
  }

  &.with-sidebar {
    margin-left: 250px;
  }
}

.layout-master-header {
  display: flex;
  height: 65px;

  background-color: $gray-2;
  border-bottom: 1px solid $darken-1;

  box-sizing: border-box;

  align-items: center;
}

.layout-master-content {
  overflow-y: auto;
  background-color: #fff;
  flex: 1 1;
}
