.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
}

.layout-content {
  display: flex;
  padding: 65px 0 0;
  flex-direction: row;

  &.with-sidebar {
    margin-left: 250px;
  }

  .layout-list {
    display: flex;
    // max-width: 400px;
    min-width: 200px;
    flex: 2 2;
  }

  .layout-detail {
    display: flex;
    // max-width: 600px;
    min-width: 400px;
    flex: 4 4;
  }
}
