body {
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
}

.layout-master {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;

  &.with-sidebar {
    margin-left: 250px;
  }
}

.layout-master-split {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;

  .layout-master-left,
  .layout-master-right {
    display: flex;
    width: 50vw;
    height: 100%;
    flex-direction: column;

    &.layout-master-50 { width: 50vw; }
    &.layout-master-40 { width: 40vw; }
    &.layout-master-60 { width: 60vw; }
  }

  &.with-sidebar {
    margin-left: 250px;
  }
}

.layout-master-header {
  display: flex;
  height: 65px;

  background-color: $gray-2;
  border-bottom: 1px solid $darken-1;

  box-sizing: border-box;

  align-items: center;
}

.layout-master-content {
  overflow-y: auto;
  background-color: $white;
  flex: 1 1;
}

.layout-master-50 { width: 50vw; }
.layout-master-40 { width: 40vw; }
.layout-master-60 { width: 60vw; }
