[class^="svg-icon-"],
[class*=" svg-icon-"],
[class^="svg-entypo-icon-"],
[class*=" svg-entypo-icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.svg-icon-prominent {
  width: 48px;
  height: 48px;
}

.svg-icon-large {
  width: 32px;
  height: 32px;
}

.svg-icon-medium {
  width: 24px;
  height: 24px;
}

.svg-icon-small {
  width: 16px;
  height: 16px;
}

.svg-icon-tiny {
  width: 16px;
  height: 16px;
}

.svg-entypo-icon-spinner { background-image: url("../assets/images/entypo/spinner.svg"); }
.svg-entypo-icon-spinner_white { background-image: url("../assets/images/entypo/spinner_white.svg"); }

.input-icon-spinner {
  background-image: url("../assets/images/entypo/spinner.svg");
  background-position: right center;
  background-repeat: no-repeat;
}
