// colors
$darken-0: rgba(0, 0, 0, .01);
$darken-1: rgba(0, 0, 0, .0625);
$darken-2: rgba(0, 0, 0, .125);
$darken-3: rgba(0, 0, 0, .25);
$darken-4: rgba(0, 0, 0, .3);
$darken-5: rgba(0, 0, 0, .4);
$darken-6: rgba(0, 0, 0, .5);

$white: #FAFAFF;
$black: #111;
$black-2: #333;
$black-3: #555;
$gray: #798ca7;
$gray-2: #F0F3F7;
$gray-3: #6D6F74;
$gray-4: #E3E7EC;
$blue: #4B719D;
$blue-2: #27323F;
$blue-3: #2780f8;
$red: #F25653;
$orange: #EB8F4E;
$green: #0ED977;
$yellow: #E5E528;

// layouts
$container-width: 64em;
$breakpoint-sm: 40em;
$breakpoint-md: 52em;
$breakpoint-lg: 64em;

// base
$font-family: "Lato", sans-serif;
// $font-family: "Open Sans", sans-serif;
// $font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: "Merriweather", serif;
$line-height: 1.5;

$body-color: $black-3;
$body-background-color: #FFF;
$link-color: $blue;
$link-text-decoration: none;
$link-hover-text-decoration: $darken-1;

// headings
$h1: 2.25rem;
$h2: 1.75rem;
$h3: 1.25rem;
$h4: 1.125rem;
$h5: 1rem;
$h6: .75rem;

// white space
$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

// borders
$border-width: 1px;
$border-radius: 3px;
$border-color: $darken-2;
