html {
  font-size: 16px;
  box-sizing: border-box;

  @include respond-to(small-screen) {
    font-size: 18px;
  }
}

body {
  font-family: $font-family;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-background-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
}

a:hover {
  text-decoration: $link-hover-text-decoration;
}
